.content {
    display: flex;
    flex-direction: row;
    position: relative;
    /* background-color: rgb(202, 204, 204); */
    width: 100%;
    flex: 1;
    background-color: #f9f9f9;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23.75rem;
    border: 1px solid #e7e7e7;
}
.search {
    width: 100%;
}
.input {
    width: 100%;
    height: 2.75rem;
    padding: 15px;
}
.input-modal{
    width: 350px;
    padding: 15px;
    background-color: #e7e7e7;
    margin: 5px;
}
.contacts{
    position: relative;
}
.contacts .itens {
    width: 90%;
}
.contacts .item {
    display: flex;
    align-items: center;
    height: 3.125rem;

    padding: 15px;
    border-top: 1px solid #e7e7e7;

    border-bottom: 1px solid #e7e7e7;
    box-shadow: 0px 1px 0px #ffffff;
    cursor: pointer;
    transition: filter 0.2s;
}
.contacts .item img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.contacts .item:hover {
    filter: brightness(0.8);
}

.detail {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    /* background-color: orange; */
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}
.card .contact {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.card img {
    width: 60px;
    height: 60px;

    border-radius: 50%;
    margin-right: 20px;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.card .cpf {
    margin-top: 25px;
    font-size: 18px;
    margin-bottom: 10px;
}
hr{
    margin-bottom: 15px;
}

.contact-description{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.phone-number {
    font-size: 18px;
}

.description {
    font-size: 18px;
}

.buttons {
    display: flex;
    width: 80px;
    flex-direction: row;
    justify-content: space-evenly;
}
.custom-button-save-people {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 2rem;
    background-color: #33cc95;
    color: #fff;
    font-weight: bold;
    right: 20px;
    bottom: 20px;
    transition: filter 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: absolute;
}
.custom-button-save-people:hover {
    filter: brightness(0.8);   
}
.custom-button-save-contact {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 2rem;
    background-color: #33cc95;
    color: #fff;
    font-weight: bold;
    right: 20px;
    bottom: 20px;
    transition: filter 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: absolute;

}
.custom-button-save-contact:hover {
    filter: brightness(0.8);   
}
.custom-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.btn.btn-outline-success {
    color:#fff;
    background-color: #58a8ff;
    border-radius: 15px;
    padding: 5px;
}
.btn.btn-outline-close {
    color:#fff;
    background-color: #9fa4aa;
    border-radius: 15px;
    padding: 5px;
}

.modal-footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.my-actions { margin: 0 2em; }
.order-2 { order: 2; }
.order-3 { order: 3; }